

# Environment variables
REACT_APP_EMAILJS_PUBLIC_KEY=
REACT_APP_EMAILJS_TEMPLATE_ID=
REACT_APP_EMAILJS_SERVICE_ID=
REACT_APP_BACKEND_URL=
REACT_APP_FRONTEND_URL=
REACT_APP_CLOUD_NAME=
REACT_APP_UPLOAD_PRESET=
REACT_APP_FLW_PK=
REACT_APP_STRIPE_PK=
REACT_APP_TX_REF=
REACT_APP_PAY_PAL_CID=
